@import url("https://fonts.googleapis.com/css2?family=Onest:wght@400;500;600;700&display=swap");

body {
	background-color: #131313;
	font-family: "Onest", sans-serif;
	color: white;
}

a {
	transition-property: background-color, border-color, color, fill, stroke,
		opacity, box-shadow, transform, text-decoration;
	transition-duration: 200ms;
	color: white;
	text-decoration: underline;
}

a:hover {
	opacity: 0.5;
	text-decoration: none;
}
